{{#if addNewAnswer}}
  <form>
    <div class="form-group">
      <div class="form-group">
        <label for="text">Your answer:</label>
        {{input type="text" value=text class="form-control"}}
      </div>
        <label for="author">Your name:</label>
        {{input value=author id="author" class="form-control"}}
      </div>
      <button class="btn btn-success" {{action 'saveAnswer'}}>Answer</button>
    </form>
{{else}}
<button {{action 'showNewAnswerForm'}} class="btn btn-info btn-lg">Answer this question!</button>
{{/if}}
