{{#link-to 'question' question.id}}<h4>{{question.text}}</h4>{{/link-to}}
<p>submitted by {{question.author}}</p>
{{question-popularity question}} <p id="answer-total">{{answerTotal}} answers</p>

<button class="btn btn-xs btn-success" {{action 'addToFaves' question}}>Add to Faves</button>
