<div class="jumbotron">
  <div id="question-detail" class="container">
    <h1>{{model.text}}</h1>
    <p>Asked by: {{model.author}}</p>
    <p>Additional notes: {{model.notes}}</p>
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
</div>

<div class="container">
  <div id="answer-title">
    {{#if model.answers}}
      <h1>Answers</h1>
    {{/if}}
  </div>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
</div>
